<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zad4.Properties.Settings.Zad4ConnectionString" connectionString="Data Source=DESKTOP-87K2TN0\SQLEXPRESS;Initial Catalog=Zad4;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zad4.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=DESKTOP-UG8J69A\SQLEXPRESS;Initial Catalog=NORTHWND;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>